@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  bottom: 550px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  padding: 10px 15px;
  height: 80px;
  box-shadow: 0px 4px 4px var(--dark-gray);
  background-color: var(--white);
}


.dark_mode_toggler {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding: 5px;
}


.country_name_search_input {
  box-shadow: 0 4px 4px var(--dark-gray);
  margin: 250px 20px 50px 20px;
  position: relative;
  top: 120px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 0.25rem;
  align-items: center;
}

.country_name_search_input > label {
  width: 16px;
  margin: 0px 20px;
  color: var(--dark-gray);
}

.country_name_search_input > input {
  border: none;
  font-size: 12px;
  color: var(--very-dark-blue);
  padding: 25px 0 !important;
  width: 100%;
}

input:focus {
  border: 1px solid blue;
}

.country_name_search_input > input:focus, .country_name_search_input > input:focus-visible {
  border: none;
}

input:focus {
  border: none;
}

.country_name_search_input > input::placeholder {
  color: var(--dark-gray);
  font-size: 12px !important;
  padding: 40px 0 !important;
}

.region_filter_select {
  font-size: 12px;
  color: var(--very-dark-blue);
  line-height: 16px;
  border: unset;
  border-radius: 0.25rem;
  box-shadow: 0 4px 0 var(--very-light-gray);
  margin: 20px 0 20px 20px;
  padding: 20px;
  width: 200px;
}

.region_filter_select > option:checked {
  background-color: unset;
}

.region_filter_select > .option {
  border: 3px solid crimson !important;
  background-color: #fff !important;
}

.country_card {
  max-height: 375px;
  height: 375px;
  width: 264px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.country_card > .info {
  margin-top: 0px;
  margin: 0 20px;
}

.country_card img.country_flag {
  max-width: 264px;
  width: 264px;
  height: 160px;
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
}

p.country_name {
  color: #333;
  font-size: 18px;
  font-weight: 800;
}

.country_stat_basic > p > span {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}