@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--white);
}

.header_container {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  bottom: 150px;
  font-weight: 800;
  margin-bottom: .5rem;
  height: 80px;
  box-shadow: 0px 4px 4px var(--dark-gray);
  background-color: var(--white);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px 10px 10px;
}


.dark_mode_toggler {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding: 5px;
}


.country_name_search_input {
  box-shadow: 0 4px 4px var(--dark-gray);
  margin: 100px 20px 50px 20px;
  position: relative;
  top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 0.25rem;
  align-items: center;
}

.country_name_search_input>label {
  width: 16px;
  margin: 0px 20px;
  color: var(--dark-gray);
}

.country_name_search_input>input {
  border: none;
  font-size: 12px;
  color: var(--very-dark-blue);
  padding: 25px 0 !important;
  width: 100%;
}

input:focus {
  border: 1px solid var(--dark-gray);
}

.country_name_search_input>input:focus,
.country_name_search_input>input:focus-visible {
  border: none;
}

input:focus {
  border: none;
}

.country_name_search_input>input::placeholder {
  color: var(--dark-gray);
  font-size: 12px !important;
  padding: 40px 0 !important;
}

select#region_filter {
  border-radius: 0.25rem;
  padding: 20px;
  width: 200px;
  margin: 20px 0 70px 20px;
  box-shadow: 0 4px 0 var(--very-light-gray);
  font-size: 14px !important;
  color: var(--very-dark-blue) !important;
  border: none !important;
}

select#region_filter option {
  background-color: var(--very-light-gray) !important;
  line-height: 16px !important;
  font-size: 18px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  padding-top: 50px !important;
  display: block !important;
  border: none !important;
}

select#region_filter option:default,
select#region_filter option:focus {
  color: var(--dark-gray) !important;
  border: 5px solid crimson !;
}



.country_card {
  max-height: 375px;
  height: 375px;
  width: 264px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.country_card>.info {
  margin-top: 0px;
  margin: 0 20px;
}

.country_card img.country_flag {
  max-width: 264px;
  width: 264px;
  height: 160px;
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
}

p.country_name {
  color: #333;
  font-size: 18px;
  font-weight: 800;
}


.country_stat_basic>p {
  font-size: 14px;
  line-height: 16px !important;
}

.country_stat_basic>p>span {
  font-weight: 600;
}





/* Styling of the country details route */

.details_page {
  position: relative;
  top: 120px;
  width: 320px !important;
  max-width: 320px !important;
  margin: 0 auto;
}

.back_button_container {
  margin-top: 0px;
  margin-bottom: 50px;
}

.button {
  padding: 10px;
  box-shadow: 0 0px 7px var(--dark-gray);
  border: none;
  margin: 0;
}

.back_button_container button {
  margin-bottom: 20px;
}

.back_button_container button span {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  flex-direction: row;
  margin: 5px 5px;
  border-radius: 0.5rem;
}


.country_card_details {
  margin: 0 auto;
}

.country_card_details .flag>img {
  max-width: 320px !important;
  width: 320px !important;
  object-fit: cover;
  height: 229px !important;
  border-radius: 5.72px;
}

.country_card_details>.countryName {
  font-size: 22px;
  font-weight: 800;
}

.country_card_details>.country_info_1,
.country_card_details>.country_info_2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 32px;
}

.country_card_details>.country_info_1 p>span,
.country_card_details>.country_info_2 p>span {
  font-weight: 300;
}

.border_countries_header {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul.border_countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
ul.border_countries > li {
  width: 100%;
  max-width: 96px !important;
  min-width: 96px !important;
  text-align: center;
  margin: 5px 10px 5px 0 !important;
  padding: 5px;
}

ul.border_countries > li:last-child {
  margin: 5px 0 5px 0 !important;
}